using tailwind for css 

module.exports = {
    theme: {
        extend: {
            backgroundImage: {
                'bgImage': "url('../Project-Harmony/assets/images/bg-image.jpg')",
            }
        }
    }
}

